[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg = "*"
django = "*"
django-tailwind = {extras = ["reload"], version = "*"}

[dev-packages]
pytest-django = "*"
pytest = "*"

[requires]
python_version = "3.12"
