<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</home></title>
</head>
<body>
	<!-- Navbar -->
	<nav class="">
		<div class="">
			<a class="" href="">MySite</a>
			<!-- The search bar? -->
        		<div class="">
        		        <ul class="">
		                	{% if user.is_authenticated %}
					<li class="nav-item">
                        			<a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        		</li>
                			{% else %}
                			<li class="nav-item">
                        			<a class="nav-link" href="{% url 'login' %}">Login</a>
                        		</li>
                        		<li class="nav-item">
                        			<a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                        		</li>
        				{% endif %}
				</ul>
        		</div>
		</div>
	</nav>

	<!-- Main Content-->
	<div>
		{% block content %}
		{% endblock %}
	</div>	
</body>
</html>

