{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dweller</title>
	{% tailwind_css %}
</head>
<body class="bg-gray-100 font-serif leading-normal tracking-normal">
	<!-- Navbar -->
	<nav class="">
		<div class="container mx-auto max-w-7xl px-2 sm:px-6 lg:px8 flex flex-row justify-between">
			<a class="" href="{% url 'home'%}">MySite</a>
			<!-- The search bar? -->
        		<div class="">
        		        <ul class="flex flex-row gap-4">
		                	{% if user.is_authenticated %}
					<li class="nav-item">
                        			<a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        		</li>
                			{% else %}
                			<li class="nav-item">
                        			<a class="nav-link" href="{% url 'login' %}">Login</a>
                        		</li>
                        		<li class="nav-item">
                        			<a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                        		</li>
        				{% endif %}
				</ul>
        		</div>
		</div>
	</nav>

	<!-- Main Content-->
	<div>
		{% block content %}
		{% endblock %}
	</div>	
</body>
</html>

